%h1 Listing exhibitions

%table
  %thead
    %tr
      %th Artwork
      %th Venue
      %th
      %th
      %th

  %tbody
    - @exhibitions.each do |exhibition|
      %tr
        %td= exhibition.artwork.name
        %td= exhibition.venue
        %td= link_to t('.show'), exhibition
        %td= link_to t('.edit'), edit_exhibition_path(exhibition)
        %td= link_to t('.destroy'), exhibition, method: :delete, data: { confirm: 'Are you sure?' }

%br
