%p#notice= notice

%p
  %b Artwork:
  = @exhibition.artwork.name
%p
  %b Venue:
  = @exhibition.venue

= link_to t('.edit'), edit_exhibition_path(@exhibition)
\|
= link_to t('.back'), exhibitions_path
