%h1 Artworks

%table
  %thead
    %tr
      %th Name
      %th Artist
      %th Year
      %th Description
      %th
      %th
      %th

  %tbody
    - @artworks.each_with_index do |artwork, i|
      - row_class = ""
      - if i % 2 == 0
        - row_class = "even"
      - else
        - row_class = "odd"

      %tr
        %td{:class => "#{row_class}"}= artwork.name
        %td{:class => "#{row_class}"}= artwork.artist
        %td{:class => "#{row_class}"}= artwork.year
        %td{:class => "#{row_class}"}= artwork.description
        %td= link_to 'Add Review', artwork
        %td= link_to 'Edit', edit_artwork_path(artwork)
        %td= link_to 'Destroy', artwork, method: :delete, data: { confirm: 'Are you sure?' }

%br
