%p#notice= notice
%p
  %strong Name:
  = @artwork.name
%p
  %strong Artist:
  = @artwork.artist
%p
  %strong Year:
  = @artwork.year
%p
  %strong Description:
  = @artwork.description

%p Reviews:
%table
  %tbody
    - @artwork.reviews.each do |review|
      %tr{id: "review_#{review.id}"}
        %td= review.review
        %td= link_to 'Show', review
        %td= link_to 'Edit', edit_review_path(review)
        %td= link_to 'Destroy', review, :method => :delete, :data => { :confirm => 'Are you sure?'}, :remote => true

%p= link_to 'Add Review', new_review_path(artwork_id: @artwork)

%p Exhibitions:
%table
  %tbody
    - @artwork.exhibitions.each do |exhibition|
      %tr{id: "exhibition_#{exhibition.id}"}
        %td= exhibition.venue
        %td= link_to 'Show', exhibition
        %td= link_to 'Edit', edit_exhibition_path(exhibition)
        %td= link_to 'Destroy', exhibition, :method => :delete, :data => { :confirm => 'Are you sure?'}, :remote => true

%p= link_to 'Add Exhibition', new_exhibition_path(artwork_id: @artwork)

= link_to 'Edit', edit_artwork_path(@artwork)
|
\#{link_to 'Back', artworks_path}
