= form_for @review do |f|
  - if @review.errors.any?
    #error_explanation
      %h2= "#{pluralize(@review.errors.count, "error")} prohibited this review from being saved:"
      %ul
        - @review.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :artwork
    %p= @review.artwork.name
    =f.hidden_field :artwork_id, value: @review.artwork.id
  .field
    = f.label :review
    = f.text_field :review
  .actions
    = f.submit 'Save'
