%h1 Reviews

%table
  %thead
    %tr
      %th Artwork
      %th Review
      %th
      %th
      %th

  %tbody
    - @reviews.each_with_index do |review, i|
      - row_class = ""
      - if i % 2 == 0
        - row_class = "even"
      - else
        - row_class = "odd"

      %tr
        %td{:class => "#{row_class}"}= review.artwork.name
        %td{:class => "#{row_class}"}= review.review
        %td{:class => "#{row_class}"}= link_to t('.show'), review
        %td{:class => "#{row_class}"}= link_to t('.edit'), edit_review_path(review)
        %td{:class => "#{row_class}"}= link_to t('.destroy'), review, method: :delete, data: { confirm: 'Are you sure?' }

%br
