%h1 Listing reviews

%table
  %thead
    %tr
      %th Artwork
      %th Review
      %th
      %th
      %th

  %tbody
    - @reviews.each do |review|
      %tr
        %td= review.artwork.name
        %td= review.review
        %td= link_to t('.show'), review
        %td= link_to t('.edit'), edit_review_path(review)
        %td= link_to t('.destroy'), review, method: :delete, data: { confirm: 'Are you sure?' }

%br
